a.out
*.bcup
.main.bcup
*.AppImage
.buttercup.AppImage

**/.vscode

private/*

.idea
*.iml

.venv
.ipynb_checkpoint*

**/~*

# I don't know someone is messing with my folder, here in college
# if it's your folder please take it away.
dinal
